.about-us__wrapper {
  .size-mobile();

  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 23px;
}

.about-us__header {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 4px;
  padding-top: 0;

  .font(25px; 30px; bold);
}

.about-us__list {
  .list-reset();

  display: flex;
  flex-direction: column;

  white-space: pre-line;
}

.about-us__item {
  position: relative;

  padding-top: 63px;

  .font(17px; 20px; bold);

  &--eco::before {
    .icon-features(url("../img/icon-feature-flower.svg"));
    top: 25px;
  }

  &--quality::before {
    .icon-features(url("../img/icon-feature-money.svg"));
  }

  &--likes::before {
    .icon-features(url("../img/icon-feature-heart.svg"));
    top: 25px;
  }

  &--love::before {
    .icon-features(url("../img/icon-feature-ball.svg"));
    top: 25px;
  }

  &--domestic::before {
    .icon-features(url("../img/icon-feature-rocket.svg"));
  }

  &--gift::before {
    .icon-features(url("../img/icon-feature-gift.svg"));
    top: 23px;
    left: -8px;
  }
}

@media (min-width: @tablet-width) {
  .about-us__wrapper {
    .size-tablet();

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 48px;
    padding-bottom: 0;
    margin-bottom: 52px;
  }

  .about-us__header {
    margin-left: -3px;
    margin-bottom: 22px;

    .font(43px; 50px; bold);
  }

  .about-us__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 334px;
    padding-top: 60px;
    padding-bottom: 30px;

    .font(20px; 22px; bold);

    &--gift::before {
      left: -7px;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-us__wrapper {
    .size-desktop();

    padding-left: 225px;
    padding-right: 175px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about-us__header {
    margin-top: 0;

    .font(53px; 57px; bold);
  }

  .about-us__item {
    width: 350px;
    margin-top: 0;
    padding-top: 59px;
  }
}
