.about-us__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__header {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  .font(25px; 30px; bold);
}

.about-us__list {
  display: flex;
  flex-direction: column;

  .list-reset();
  white-space: pre-line;
}

.about-us__item {
  padding-top: 55px;
  padding-bottom: 30px;
  .font(17px; 20px; bold);
}
