.catalog__wrapper {
  .size-mobile();
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.catalog__header {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 73px;
  padding-bottom: 73px;
  padding-left: 30px;
  padding-right: 30px;

  .font(27px; 30px; bold);
  text-align: center;

  background-color: #f1f1f1;
}

.catalog__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.catalog__item {
  margin-bottom: 30px;
}
