.contacts__wrapper {
  .size-mobile();

  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.contacts__header {
  margin: 0;
  margin-bottom: 26px;
  padding-right: 30px;

  .font(18px; 30px; bold);
}

.contacts__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__section {
  display: flex;
  margin-bottom: 30px;
}

.contacts__email,
.contacts__adress {
  margin: 0;
  padding: 0;
  padding-right: 30px;

  .font(15px; 30px; regular);
}

.contacts__link {
  .link-reset();

  margin: 0;
  padding: 0;

  .font(15px; 30px; regular);
}

.contacts__link--email {
  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:focus {
    color: @emerald;

    border-color: @emerald;
  }

  &:active {
    color: @emerald;

    border-color: @emerald;
    opacity: 0.3;
  }
}

.contacts__link--location {
  white-space: pre-line;
}

.contacts__button {
  order: 2;
  align-self: center;
  margin-top: 36px;
  margin-bottom: 39px;

  .font(18px; 20px; bold);
}

.contacts__map-container {
  position: relative;
  z-index: 10;

  width: 322px;
  height: 457px;
}

.contacts__map {
  border: 0;
  background-color: @white;
  background-image:
    url("../img/icon-map-pin.svg"),
    url("../img/map-mobile@1x.jpg");

  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    140px 140px,
    top center;
  background-size:
    67px 100px,
    100% 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image:
      url("../img/icon-map-pin.svg"),
      url("../img/map-mobile@2x.jpg");
    background-size:
      67px 100px,
      322px auto;
  }
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    .size-tablet();

    flex-direction: column;
    flex-wrap: wrap;
  }

  .contacts__header {
    position: relative;

    width: 668px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 49px;
    margin-left: -4px;
    padding: 0;

    .font(43px; 50px; bold);

    &::after {
      content: "";

      position: absolute;
      top: -17px;
      right: 0;

      width: 47px;
      height: 81px;

      .icon-element(url("../img/icon-flag.svg"); no-repeat; 47px 81px; center);
    }
  }

  .contacts__container {
    flex-direction: row;
    align-items: flex-start;
    width: 768px;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__section {
    width: 334px;
  }

  .contacts__email,
  .contacts__adress {
    padding: 0;

    .font(17px; 30px; regular);
  }

  .contacts__link {
    width: auto;
    margin-left: 25px;

    .font(17px; 30px; regular);

    &--location {
      padding-right: 30px;
    }
  }

  .contacts__map-container {
    width: 768px;
    height: 457px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;

    background-color: @white;
    background-image:
      url("../img/icon-map-pin.svg"),
      url("../img/map-tablet@1x.jpg");
    background-repeat:
      no-repeat,
      no-repeat;
    background-position:
      362px 138px,
      top center;
    background-size:
      67px 100px,
      768px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image:
        url("../img/icon-map-pin.svg"),
        url("../img/map-tablet@2x.jpg");
      background-size:
        67px 100px,
        768px auto;
    }
  }

  .contacts__button {
    align-self: center;
    width: 230px;
    margin: 0;
    margin-top: 56px;
    margin-bottom: 57px;

    .font(17px; 20px; bold);
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    .size-desktop();

    position: relative;

    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 67px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 112px;
  }

  .contacts__header {
    position: relative;

    width: 350px;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 48px;
    margin-left: -5px;

    .font(53px; 57px; bold);

    &::after {
      content: "";

      position: absolute;
      top: -10px;
      left: -108px;

      width: 47px;
      height: 81px;

      .icon-element(url("../img/icon-flag.svg"); no-repeat; 47px 81px; center);
    }
  }

  .contacts__container {
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    margin-left: 175px;
    padding: 0;
  }

  .contacts__map-container {
    width: 525px;
    height: 455px;
  }

  .contacts__map {
    width: 525px;
    height: 455px;

    background-color: @white;
    background-image:
      url("../img/icon-map-pin.svg"),
      url("../img/map-desktop@1x.jpg");
    background-repeat:
      no-repeat,
      no-repeat;
    background-position:
      238px 150px,
      top center;
    background-size:
      67px 100px,
      525px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image:
        url("../img/icon-map-pin.svg"),
        url("../img/map-desktop@2x.jpg");
      background-size:
        67px 100px,
        525px auto;
    }
  }

  .contacts__button {
    position: absolute;
    bottom: 0;
    left: 50px;

    align-self: flex-start;
    margin-left: 175px;
    margin-top: 24px;
    margin-bottom: 105px;
  }
}
