.contacts__wrapper {
  .size-mobile();

  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.contacts__header {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
  .font(18px; 30px; bold);
}

.contacts__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;

  margin-bottom: 8px;
}

.contacts__section {
  display: flex;
  margin-bottom: 30px;
}

.contacts__email,
.contacts__adress {
  margin: 0;
  padding: 0;
  padding-right: 30px;

  .font(15px; 30px; regular);
}

.contacts__link {
  .link-reset();
  margin: 0;
  padding: 0;
  .font(15px; 30px; regular);
}

.contacts__link--email {
  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:focus {
    color: @emerald;
    border-color: @emerald;
  }

  &:active {
    color: @emerald;
    border-color: @emerald;
    opacity: 0.3;
  }
}

.contacts__link--location {
  white-space: pre-line;
}

.contacts__button {
  order: 2;
  margin-top: 40px;
  margin-bottom: 39px;
  align-self: center;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    .size-tablet();
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contacts__header {
    position: relative;

    width: 668px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: -4px;
    .font(43px; 50px; bold);

    &::after {
      content: "";

      position: absolute;
      top: -15px;
      right: 0;

      width: 47px;
      height: 81px;

      .icon-element(url("../../img/icon-flag.svg"); no-repeat; 47px 81px; center);
    }
  }

  .contacts__container {
    flex-direction: row;
    align-items: flex-start;
    width: 768px;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    margin-bottom: 25px;
  }

  .contacts__section {
    width: 334px;
  }

  .contacts__email,
  .contacts__adress {
    .font(17px; 30px; regular);
    padding: 0;
  }

  .contacts__link {
    width: auto;
    margin-left: 25px;
    .font(17px; 30px; regular);

    &--location {
      padding-right: 30px;
    }
  }

  .contacts__map {
    width: 768px;
    height: 457px;
  }

  .contacts__button {
    align-self: center;
    width: 230px;
    margin: 0;
    margin-top: 55px;
    margin-bottom: 56px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    position: relative;
    .size-desktop();
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 67px;
  }

  .contacts__header {
    position: relative;

    width: 350px;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 50px;
    margin-left: -5px;
    .font(53px; 57px; bold);

    &::after {
      content: "";

      position: absolute;
      top: -10px;
      left: -112px;

      width: 47px;
      height: 81px;

      .icon-element(url("../../img/icon-flag.svg"); no-repeat; 47px 81px; center);
    }
  }

  .contacts__container {
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    margin-left: 175px;
    padding: 0;
  }

  .contacts__map {
    position: absolute;
    right: 50px;
    width: 525px;
    height: 455px;
  }

  .contacts__button {
    align-self: flex-start;
    margin-left: 175px;
    margin-top: 22px;
    margin-bottom: 107px;
  }
}
