.form__header-container {
  background-color: #f1f1f1;
}

.form__header {
  .size-mobile();
  padding-top: 73px;
  padding-bottom: 73px;
  padding-left: 30px;
  padding-right: 30px;

  .font(27px; 30px; bold);
  text-align: center;
}

.form__knitting {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.form__description {
  .size-mobile();
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 0;

  .font(13px; 24px; regular);
}

.form__section-sorting {
  .size-mobile();
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__section-kind,
.form__section-color,
.form__section-customer,
.form__section-contacts {
  position: relative;
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 32px;
}

.form__list-customer {
  .list-reset();
}


.form__section-sorting--wishes {
  margin-bottom: 0;
}

.form__section-name {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  .font(17px; 16px; bold);
  color: @green-lighter;

  &::after {
    content: "";

    position: absolute;
    top: 8px;
    right: 0;
    width: 198px;
    height: 1px;

    background-color: @green-lighter;
  }
}

.form__option-name {
  position: relative;

  width: 240px;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 62px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 11px;

  .font(17px; 18px; bold);

  cursor: pointer;
}

.form__option--checkbox + .form__option-name {
  &::before {
    content: "";

    width: 40px;
    height: 40px;

    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid @black;
  }
}

.form__option--checkbox:checked + .form__option-name {
  &::before {
    .icon-element(url("../../img/icon-tick.svg"); no-repeat; 22px 16px; center);
  }
}

.form__option--radio + .form__option-name {
  &::before {
    content: "";

    width: 40px;
    height: 40px;

    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid @black;
    border-radius: 50%;
  }
}

.form__option--radio:checked + .form__option-name {
  &::after {
    content: "";

    width: 16px;
    height: 16px;

    position: absolute;
    top: 12px;
    left: 12px;

    background-color: @green-lighter;
    border-radius: 50%;
  }
}


.form__option--checkbox:hover + .form__option-name,
.form__option--checkbox:focus + .form__option-name,
.form__option--radio:hover + .form__option-name,
.form__option--radio:focus + .form__option-name {
  &::before {
    border-color: @green-lighter;
  }
}

.form__option--checkbox:active + .form__option-name,
.form__option--radio:active + .form__option-name {
  &::before {
    border-color: #c7c7c7;
  }
}

.form__field-header {
  margin: 0;
  padding: 0;

  .font(17px; 18px; bold);

  cursor: pointer;
}

.form__field {
  display: block;
  width: 260px;
  height: 50px;
  margin-bottom: 24px;
  padding-top: 16px;
  padding-bottom: 16px;

  .font(17px; 18px; regular);

  border: none;
  border-bottom: 2px solid @black;

  &:hover,
  &:focus {
    border-color: @green-lighter;
  }

  &:hover + .form__icon,
  &:focus + .form__icon {
    fill: @green-lighter;
  }
}

.form__field--phone,
.form__field--email {
  padding-right: 45px;
}

.form__icon {
  position: absolute;
  top: 15px;
  right: 4px;
}

.form__field--wishes {
  height: 140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;

  border: 2px solid @black;
  resize: none;
}

.form__text-required {
  display: inline-block;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 33px;
  padding: 0;
  .font(14px; 16px; regular);
}

.form__add-container {
  .size-mobile();
  margin-bottom: 55px;
}

.form__button {
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .form__header {
    .size-tablet();
    position: relative;
    padding-top: 100px;
    padding-bottom: 85px;
    padding-left: 50px;
    padding-right: 50px;

    .font(43px; 50px; bold);
    text-align: center;

    background-color: #f1f1f1;

    &::after {
      content: "";

      position: absolute;
      bottom: -1px;
      left: 0;

      width: @tablet-width;
      height: 24px;
      .icon-element(url("../../img/bg-zigzag-fill.svg"); no-repeat; 768px 24px; center);
    }
  }

  .form__knitting {
    padding: 0;
  }

  .form__description {
    .size-tablet();
    padding-top: 70px;
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
    .font(17px; 30px; normal);
  }

  .form__section-container {
    background-color: #f1f1f1;
  }

  .form__section-sorting {
    .size-tablet();
    position: relative;
    display: flex;
    flex-direction: row;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    &--contacts {
      flex-wrap: wrap;
      background-color: #f1f1f1;
    }
  }

  .form__section-kind,
  .form__section-color,
  .form__section-customer,
  .form__section-contacts {
    width: 501px;
  }

  .form__section-color {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__option-name,
  .form__field {
    width: 501px;
  }

  .form__field {
    &--phone,
    &--email {
      background-color: #f1f1f1;
    }
  }

  .form__section-color .form__option-name {
    width: 240px;
  }

  .form__section-name {
    width: 167px;
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
    padding-top: 15px;

    .font(17px; 16px; bold);
    color: @green-lighter;

    &::after {
      display: none;
    }
  }

  .form__item-customer {
    display: flex;
    width: 501px;
    align-items: baseline;
  }

  .form__field-header {
    margin-right: 25px;
  }

  .form__add-container {
    .size-tablet();
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .form__header {
    .size-desktop();
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

    .font(53px; 57px; bold);

    &::after {
      content: "";

      position: absolute;
      bottom: -1px;
      left: 0;

      width: @desktop-width;
      height: 34px;
      .icon-element(url("../../img/bg-zigzag-fill.svg"); no-repeat; 1150px 34px; center);
    }
  }

  .form__description {
    .size-desktop();
    padding-top: 110px;
  }

  .form__section-sorting {
    .size-desktop();
  }

  .form__section-name {
    width: 175px;
    text-align: center;
  }

  .form__section-kind,
  .form__section-color,
  .form__section-customer,
  .form__section-contacts {
    width: 875px;
  }

  .form__section-customer {
    width: 700px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__item-customer {
    width: 700px;
  }


  .form__field {
    width: 630px;

    &--phone,
    &--email,
    &--wishes {
      width: 700px;
    }
  }

  .form__icon {
    position: absolute;
    top: 15px;
    right: 180px;
  }

  .form__add-container {
    .size-desktop();
    width: 700px;
    align-self: center;
    padding: 0;
  }
}
