.form__header-container {
  background-color: #f1f1f1;
}

.form__header {
  .size-mobile();

  padding-top: 70px;
  padding-bottom: 76px;
  padding-left: 30px;
  padding-right: 30px;

  .font(27px; 30px; bold);
  text-align: center;
}

.form__knitting {
  display: flex;
  flex-direction: column;
}

.form__description {
  .size-mobile();
  margin-top: 22px;
  margin-bottom: 24px;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;

  .font(13px; 24px; regular);
}

.form__section-sorting {
  .size-mobile();

  position: relative;

  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;

  &--wishes {
    margin-bottom: 0;
  }
}

.form__section-kind,
.form__section-color,
.form__section-customer,
.form__section-contacts {
  .size-mobile();
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 34px;
}

.form__section-contacts {
  margin-top: 9px;
  margin-bottom: 33px;
}

.form__section-color {
  margin-bottom: 10px;
}

.form__list-customer {
  .list-reset();

  padding-top: 3px;
}

.form__section-name {
  position: relative;

  margin: 0;
  padding: 0;

  .font(17px; 16px; bold);
  text-transform: uppercase;
  color: @green-lighter;

  &::after {
    content: "";

    position: absolute;
    top: 8px;
    right: 0;

    width: 198px;
    height: 1px;

    background-color: @green-lighter;
  }

  &--email::after {
    width: 180px;
  }
}

.form__option-name {
  position: relative;

  width: 240px;
  margin: 0;
  margin-bottom: 21px;
  padding-left: 63px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;

  .font(17px; 18px; bold);

  cursor: pointer;
}

.form__section-kind .form__option-name {
  margin: 0;
}

.form__option--checkbox + .form__option-name {
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 39px;

    border: 2px solid @black;
  }
}

.form__option--checkbox:checked + .form__option-name {
  &::before {
    .icon-element(url("../img/icon-tick.svg"); no-repeat; 22px 16px; center);
  }
}

.form__option--radio + .form__option-name {
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid @black;
    border-radius: 50%;
  }
}

.form__option--radio:checked + .form__option-name {
  &::after {
    content: "";

    position: absolute;
    top: 12px;
    left: 12px;

    width: 16px;
    height: 16px;

    background-color: @green-lighter;
    border-radius: 50%;
  }
}


.form__option--checkbox:hover + .form__option-name,
.form__option--checkbox:focus + .form__option-name,
.form__option--radio:hover + .form__option-name,
.form__option--radio:focus + .form__option-name {
  &::before {
    border-color: @green-lighter;
  }
}

.form__option--checkbox:active + .form__option-name,
.form__option--radio:active + .form__option-name {
  &::before {
    border-color: #c7c7c7;
  }
}

.form__item-customer:not(:nth-child(3)) {
  margin-bottom: 21px;
}

.form__field-header {
  margin: 0;
  padding: 0;

  .font(17px; 18px; bold);

  cursor: pointer;
}

.form__field {
  display: block;
  width: 260px;
  height: 50px;
  padding-bottom: 4px;

  .font(17px; 18px; regular);
  color: #444444;

  border: none;
  border-bottom: 2px solid @black;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: @green-lighter;
  }

  &:hover + .form__icon,
  &:focus + .form__icon {
    fill: @green-lighter;
  }
}

.form__field--phone {
  .font(19px; 18px; regular);
}

.form__field--phone,
.form__field--email {
  height: 49px;
  padding-bottom: 7px;
  padding-right: 45px;
}

.form__icon {
  position: absolute;
  top: 8px;
  right: 66px;
}

.form__field--wishes {
  height: 142px;
  padding: 15px;
  margin-top: 24px;
  margin-bottom: 0;

  border: 2px solid @black;
  resize: none;
}

.form__text-required {
  display: inline-block;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 30px;
  padding: 0;

  .font(14px; 16px; regular);
}

.form__add-container {
  .size-mobile();
  margin-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
}

.form__button {
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .form__header {
    .size-tablet();
    position: relative;
    padding-top: 94px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;

    .font(43px; 50px; bold);
    text-align: center;

    background-color: #f1f1f1;

    &::after {
      content: "";

      position: absolute;
      bottom: -14px;
      left: 0;

      width: @tablet-width;
      height: 24px;

      .icon-element(url("../img/bg-zigzag-fill.svg"); no-repeat; 768px 24px; center);
    }
  }

  .form__knitting {
    padding: 0;
  }

  .form__description {
    .size-tablet();
    padding-top: 73px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 50px;

    .font(17px; 30px; normal);
  }

  .form__section-container {
    background-color: #f1f1f1;
  }

  .form__section-sorting {
    .size-tablet();
    position: relative;

    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 28px;
    padding-left: 50px;
    padding-right: 50px;

    &--contacts {
      flex-wrap: wrap;
      padding-top: 51px;
      padding-bottom: 26px;

      background-color: #f1f1f1;
    }

    &--customer {
      padding-top: 51px;
      padding-bottom: 50px;
    }
  }

  .form__section-kind,
  .form__section-color,
  .form__section-customer,
  .form__section-contacts {
    width: 501px;
  }

  .form__section-kind {
    margin: 0;
    padding-top: 0;
  }

  .form__section-color {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  .form__option-name,
  .form__field {
    width: 501px;
  }

  .form__option-name {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 42px;
    padding-left: 80px;

    .font(19px; 18px; bold);
  }

  .form__section-color .form__option-name {
    width: 240px;
  }

  .form__section-name {
    width: 167px;
    margin: 0;
    padding: 0;
    padding-top: 16px;

    .font(17px; 16px; bold);
    color: @green-lighter;

    &::after {
      display: none;
    }
  }

  .form__option--checkbox + .form__option-name {
    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 54px;
      height: 52px;

      border: 2px solid @black;
    }
  }

  .form__option--checkbox:checked + .form__option-name {
    &::before {
      .icon-element(url("../img/icon-tick.svg"); no-repeat; 33px 22px; center);
    }
  }

  .form__option--radio + .form__option-name {
    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 52px;
      height: 52px;

      border: 2px solid @black;
      border-radius: 50%;
    }
  }

  .form__option--radio:checked + .form__option-name {
    &::after {
      content: "";

      position: absolute;
      top: 16px;
      left: 16px;

      width: 20px;
      height: 20px;

      background-color: @green-lighter;
      border-radius: 50%;
    }
  }

  .form__section-customer {
    margin: 0;
  }

  .form__list-customer {
    padding: 0;
  }

  .form__item-customer {
    display: flex;
    align-items: baseline;
    width: 501px;
    margin-top: 0;
  }

  .form__item-customer:not(:nth-child(3)) {
    margin-bottom: 24px;
  }

  .form__field-header {
    margin-right: 26px;

    .font(19px; 18px; bold);
  }

  .form__field {
    height: 52px;
    padding-left: 15px;

    .font(19px; 18px; regular);

    &--phone,
    &--email {
      background-color: #f1f1f1;
    }

    &--wishes {
      height: 142px;
      margin: 0;
      padding-top: 13px;

      resize: none;
    }
  }

  .form__section-contacts {
    margin: 0;
    margin-bottom: 24px;
  }

  .form__icon {
    top: 10px;
    right: 23px;
  }

  .form__add-container {
    .size-tablet();

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form__text-required {
    margin: 0;
    margin-top: 33px;

    .font(17px; 30px; normal);
  }

  .form__button {
    width: 230px;
    margin-top: 24px;
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .form__header {
    .size-desktop();

    position: relative;

    padding-top: 94px;
    padding-bottom: 102px;

    .font(53px; 57px; bold);

    &::after {
      content: "";

      position: absolute;
      bottom: -19px;
      left: 0;

      width: @desktop-width;
      height: 34px;

      .icon-element(url("../img/bg-zigzag-fill.svg"); no-repeat; 1150px 34px; center);
    }
  }

  .form__description {
    .size-desktop();

    width: 1050px;
    padding-top: 123px;
    padding-left: 175px;
    padding-right: 175px;
  }

  .form__section-sorting {
    .size-desktop();

    padding-bottom: 27px;

    &--customer {
      padding-bottom: 24px;
    }
  }

  .form__section-name {
    width: 175px;
    padding-left: 62px;

    &--email {
      padding-top: 20px;
    }
  }

  .form__section-kind,
  .form__section-color,
  .form__section-customer,
  .form__section-contacts {
    width: 875px;
  }

  .form__section-color {
    justify-content: flex-start;
  }

  .form__option-name {
    margin-right: 22px;
  }


  .form__section-customer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    margin-left: 2px;
    margin-bottom: 25px;
  }

  .form__section-contacts {
    margin-bottom: 23px;
  }

  .form__item-customer {
    width: 700px;
  }


  .form__field {
    width: 630px;

    &--phone,
    &--email {
      width: 700px;
      padding-bottom: 5px;
    }

    &--wishes {
      width: 700px;
    }
  }

  .form__icon {
    position: absolute;
    top: 10px;
    right: 183px;
  }

  .form__add-container {
    .size-desktop();

    align-self: center;

    width: 700px;
    padding: 0;
  }

  .form__button {
    margin-top: 22px;
    margin-bottom: 50px;
  }
}
