.header {
  width: 100%;
}

.header__wrapper {
  .size-mobile();

  display: flex;
  flex-direction: column;
}

.header__container {
  position: relative;

  display: flex;
  justify-content: center;

  border-bottom: 1px solid @grey;
}

.header__logo-mobile {
  margin-top: 22px;
  margin-bottom: 18px;
}

a[href].header__logo-mobile {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__button-call-nav {
  position: absolute;
  top: 26px;
  right: 29px;

  display: none;
  width: 25px;
  height: 25px;

  background-color: @white;
  border: none;

  cursor: pointer;
}

@media (max-width: @mobile-width-only) {
  .header__button-call-nav--open {
    display: block;

    .icon-element(url("../img/icon-menu-open.svg"); no-repeat; 20px 14px; center;);
  }

  .header__button-call-nav--close {
    display: block;

    .icon-element(url("../img/icon-menu-close.svg"); no-repeat; 21px 20px; center;);
  }
}


@media (min-width: @tablet-width) {
  .header__wrapper {
    .size-tablet();

    flex-direction: row;
  }

  .header__logo-mobile {
    display: none;
  }

  .header__button-main-nav {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .header__wrapper {
    .size-desktop();
  }
}
