.header__wrapper {
  display: flex;
  flex-direction: column;
  .size-mobile();
}

.header__menu {
  display: flex;
  justify-content: flex-end;

  padding-right: 30px;

  border-bottom: 1px solid @grey;

}

.header__logo {
  padding-top: 22px;
  padding-bottom: 22px;
  margin-right: 67px;
}

.header__call-main-nav {

  margin-top: 32px;
  margin-bottom: 32px;
}
