.modal {
  display: none;

  &--open {
    display: block;
  }
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.9);
}

.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;

  display: flex;
  flex-direction: column;
  width: 320px;
  height: 336px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;

  background-color: @white;
  opacity: none;
  border: 1px solid #c7c7c7;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal__header {
  margin-top: 25px;
  margin-bottom: 20px;
  padding-left: 55px;
  padding-right: 55px;

  .font(25px; 30px; bold);
  text-align: center;
  text-transform: uppercase;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__text-form {
  display: inline-block;
  margin-bottom: 25px;

  .font(15px; 30px; regular);
  text-align: center;
}

.modal__choice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal__item-name {
  width: 82px;
  height: 52px;

  padding-top: 16px;
  padding-bottom: 16px;

  .font(17px; 16px; bold);
  text-align: center;

  border: 2px solid @grey;
}

.modal__item-form:hover + .modal__item-name,
.modal__item-form:focus + .modal__item-name {
  border-color: #c7c7c7;
}

.modal__item-form:active + .modal__item-name {
  border-color: @green-lighter;
}

.modal__item-form:checked + .modal__item-name {
  border-color: @green-lighter;
}

.modal__button {
  margin-bottom: 45px;

  color: @white;

  background-color: @green-lighter;
  border: none;
}

@media (min-width: @tablet-width) {
  .modal__container {
    width: 566px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .modal__header {
    padding: 0;

    .font(30px; 57px; bold);
  }

  .modal__text-form {
    .font(17px; 30px; regular);
  }

  .modal__item-name {
    width: 112px;
  }

  .modal__button {
    width: 100%;
  }
}
