.navigation {
  padding: 0;
}

.navigation__list {
  .list-reset();

  display: flex;
  flex-direction: column;

  border-top: 1px solid #ececec;
}

.navigation__item {
  .nav-border();


  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
}

.navigation__link {
  .link-reset();
  .font(17px; 24px; bold);
}
