.navigation {
  padding: 0;
  z-index: 5;
}

.navigation__list {
  .list-reset();

  display: flex;
  flex-direction: column;
}

.navigation__item {
  position: relative;
  border-bottom: 1px solid @grey;

  &--logo {
    display: none;
  }

  &--delivery {
    display: none;
  }

  &--new {
    display: none;
  }

  &--sale {
    display: none;
  }
}

.navigation__link {
  .link-reset();
  .font(17px; 24px; bold);

  display: block;

  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
}

a[href].navigation__link {
  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);

    .navigation__link-icon-color {
      fill: @emerald;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    .navigation__link-icon-color {
      fill: @emerald;
      opacity: 0.3;
    }
  }
}

.navigation__link-icon {
  position: absolute;
  top: 34px;
  left: 32px;

  fill: #d3d2d2;
}

@media (max-width: @mobile-width-only) {
  .navigation--close {
    display: none;
  }

  .navigation--open {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .navigation__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: @tablet-width;
    margin-bottom: -55px;
  }

  .navigation__item {
    border: none;


    &--catalog {
      order: 4;
    }

    &--form {
      order: 5;
    }

    &--logo {
      display: block;
      flex-grow: 1;
      order: 1;
      width: 320px;
      border-bottom: 1px solid #e7e7e7;
    }

    &--search {
      order: 2;
      border-right: 1px solid @grey;
      border-left: 1px solid @grey;
      border-bottom: 1px solid #e7e7e7;
    }

    &--cart {
      order: 3;
      border-bottom: 1px solid #e7e7e7;
    }

    &--delivery {
      display: block;
      order: 6;
      flex-grow: 1;
      text-align: right;
    }

    &--left-item {
      padding-left: 32px;
    }

    &--right-item {
      padding-right: 32px;
    }
  }

  .navigation__link {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    .font(15px; 24px; bold);

    &--logo {
      width: 120px;
      padding-top: 22px;
    }

    &--cart {
      padding-top: 31px;
      padding-bottom: 31px;
      padding-left: 83px;
      font-size: 17px;
      text-align: right;
    }

    &--search {
      padding-top: 43px;
      padding-bottom: 43px;
      width: 82px;
    }

    &--delivery {
      font-weight: normal;
    }
  }

  .navigation__logo-desktop {
    display: none;
  }

  .navigation__link-text {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .navigation__logo-tablet {
    display: none;
  }

  .navigation__logo-desktop {
    display: block;
  }

  .navigation__list {
    width: @desktop-width;
    margin-bottom: -61px;
  }

  .navigation__item {
    padding: 0;

    &--catalog {
      order: 1;
      border-bottom: 1px solid #e7e7e7;
      border-right: 1px solid @grey;
    }

    &--form {
      order: 2;
      border-bottom: 1px solid #e7e7e7;
    }

    &--logo {
      width: 180px;
      order: 3;
      padding: 0;
    }

    &--search {
      order: 4;
    }

    &--cart {
      order: 5;
    }

    &--new {
      display: block;
      order: 6;
    }

    &--sale {
      display: block;
      order: 7;
    }

    &--delivery {
      order: 8;
    }

    &--left-item {
      padding-left: 15px;
    }

    &--right-item {
      padding-right: 15px;
    }
  }

  .navigation__link {
    padding-left: 35px;
    padding-right: 35px;

    &--top-row {
      padding-top: 32px;
      padding-bottom: 30px;

      .font(17px; 24px; bold);
    }

    &--bottom-row {
      padding-top: 16px;
      padding-bottom: 20px;

      .font(15px; 24px; bold);
    }

    &--search {
      padding-top: 38px;
      padding-bottom: 50px;
    }

    &--delivery {
      font-weight: normal;
    }

    &--logo {
      padding: 0;
      padding-top: 8px;
      padding-left: 26px;
    }

    &--cart {
      padding-left: 83px;
    }

    &--sale {
      padding-left: 25px;
    }
  }
}
