.process-creation {
  .size-mobile();
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

.process-creation__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid @grey;
}

.process-creation__description {
  display: flex;
  flex-direction: column;
}

.process-creation__header {
  position: relative;
  padding-top: 25px;
  padding-left: 90px;
  padding-right: 30px;
  padding-bottom: 172px;
  margin: 0;

  .font(17px; 24px; bold);

  &::before {
    content: "";

    position: absolute;
    top: 35px;
    left: 32px;

    width: 32px;
    height: 22px;

    .icon-element(url("../../img/icon-video.svg"); no-repeat; 32px 32px; center);
  }
}

.process-creation__video {
  position: absolute;
  top: 98px;
  left: 30px;
}

.process-creation__icon-play {
  position: absolute;
  top: 35px;
  left: 80px;
  z-index: 5;

  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
    transition-duration: 0.5s;
  }

  &:active {
    transform: scale(0.8);
    transition-duration: 0.5s;
  }
}

.process-creation__text {
  margin-top: 28px;
  margin-bottom: 25px;
  padding-left: 34px;
  padding-right: 40px;


  .font(13px; 24px; regular);
}

.process-creation__button-order {
  width: 192px;
  padding-top: 16px;
  padding-bottom: 16px;
  align-self: center;
  margin-bottom: 32px;

  .font(17px; 16px; bold);
}

@media (min-width: @tablet-width) {
  .process-creation {
    width: 668px;
    padding: 0;
  }

  .process-creation__wrapper {
    border: none;
  }

  .process-creation__video {
    position: relative;
    top: 0;
    left: 0;
    width: 668px;
    height: 455px;
  }

  .process-creation__image {
    width: 668px;
    height: 455px;
  }

  .process-creation__icon-play {
    top: 188px;
    left: 282px;
  }

  .process-creation__description {
    width: 668px;
    margin: 0;
    padding-top: 10px;
    padding-left: 42px;
    padding-right: 42px;

    border: 1px solid @grey;
  }

  .process-creation__header {
    padding-bottom: 0;
    padding-left: 63px;
    margin-bottom: 5px;

    .font(20px; 24px; bold);

    &::before {
      top: 22px;
      left: 0;

      width: 32px;
      height: 32px;

      .icon-element(url("../../img/icon-video.svg"); no-repeat; 32px 32px; center);
    }
  }

  .process-creation__text {
    padding: 0;
    margin-bottom: 35px;

    .font(15px; 30px; normal);
  }

  .process-creation__button-order {
    width: 582px;
    margin-bottom: 32px;
  }
}

@media (min-width: @desktop-width) {
  .process-creation {
    width: 1050px;
  }

  .process-creation__header {
    padding-top: 85px;
    padding-left: 17px;

    &::before {
      top: 32px;
      left: 20px;
    }
  }

  .process-creation__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .process-creation__description {
    width: 350px;
    margin: 0;
  }

  .process-creation__text {
    padding-left: 17px;
    margin-bottom: 48px;
  }

  .process-creation__video {
    width: 682px;
  }

  .process-creation__image {
    width: 682px;
    height: 455px;
    padding: 0;
  }

  .process-creation__button-order {
    width: 230px;
    margin-left: 4px;
    margin-bottom: 32px;
  }
}
