.product-week__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.product-week__header {
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;

  .font(17px; 20px; bold);
  color: #63d1bb;
  text-transform: uppercase;
}

.product-week__name {
  display: inline-block;
  padding-bottom: 10px;

  .font(25px; 30px; bold);
  color: #000000;
  text-transform: none;
}

.product-week__description {
  margin: 0;
  padding-bottom: 30px;

  .font(15px; 24px; regular);
}

.product-week__feature-list {
  border: none;
  margin-bottom: 28px;
}

.product-week__feature-item,
.product-week__feature-value {
  padding-top: 10px;
  padding-bottom: 10px;

  .font(15px; 20px; regular);
  text-align: left;

  border-bottom: 1px solid #ececec;
}

.product-week__price {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;

  .font(17px; 24px; bold);
  text-align: center;
}

.product-week__button {
  margin-bottom: 36px;
}

.product-week__line {
  width: 320px;
  height: 8px;
}
