.product-week__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.product-week__header {
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;

  .font(17px; 20px; bold);
  color: @green-lighter;
  text-transform: uppercase;
}

.product-week__name {
  display: inline-block;
  padding-bottom: 10px;

  .font(25px; 30px; bold);
  color: @black;
  text-transform: none;
}

.product-week__description {
  margin: 0;
  padding-bottom: 30px;

  .font(15px; 24px; regular);
}

.product-week__feature-list {
  border: none;
  margin-bottom: 28px;
}

.product-week__feature-item,
.product-week__feature-value {
  padding-top: 10px;
  padding-bottom: 10px;

  .font(15px; 20px; regular);
  text-align: left;

  border-bottom: 1px solid @grey;
}

.product-week__price {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;

  .font(17px; 24px; bold);
  text-align: center;
}

.product-week__button {
  margin-bottom: 36px;
}

.product-week__line {
  width: 320px;
  height: 8px;
}

@media (min-width: @tablet-width) {
  .product-week__wrapper {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
  }

  .product-week__header {
    display: flex;
    align-items: center;

    .font(17px; 17px; bold);
    color: @green-lighter;
    text-transform: uppercase;
    text-align: center;
  }

  .product-week__name {
    width: 500px;
    margin-right: 70px;

    .font(43px; 50px; bold);
    color: @black;
    text-transform: none;
    white-space: nowrap;
    text-align: left;
  }

  .product-week__description,
  .product-week__feature-list,
  .product-week__price {
    width: 292px;
  }

  .product-week__description {
    .font(17px; 30px; regular);
  }

  .product-week__image {
    width: 334px;
    position: absolute;
    top: 120px;
    right: 50px;
  }

  .product-week__feature-list {
    margin-bottom: 30px;
  }

  .product-week__price {
    .font(20px; 24px; bold);
  }

  .product-week__button {
    width: 292px;
  }

  .product-week__line {
    width: @tablet-width;
    height: 17px;
  }
}
