.reviews__wrapper {
  .size-mobile();

  position: relative;

  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 320px;
    height: 18px;

    .icon-element(url("../img/bg-zigzag-line.svg"); no-repeat; 320px 10px; center);

    transform: rotate(180deg);
  }
}

.reviews__header {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 10px;
  padding: 0;

  .font(25px; 30px; bold);
}

.reviews__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 30px;

  .font(15px; 30px; regular);
}

.reviews__text {
  margin-bottom: 23px;
}

.reviews__author {
  margin-bottom: 30px;

  font-style: normal;
}

.reviews__name {
  .font(17px; 24px; bold);
}

.reviews__link-instagram {
  .link-reset();

  .font(17px; 24px; regular);
  font-weight: 400;
}

.reviews__nav {
  display: flex;
  margin-bottom: 8px;
}

.reviews__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 52px;
  padding-left: 2px;

  border: 1px solid @grey;
  background-color: @white;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button--previous {
  border-right: none;
}

.reviews__button-send {
  margin-bottom: 55px;

  .font(18px; 20px; bold);
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    .size-tablet();

    position: relative;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 49px;
    padding-right: 50px;
    padding-top: 77px;

    .icon-element(url("../img/review@1x.jpg"); no-repeat; 350px 457px; 0 0);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      .icon-element(url("../img/review@2x.jpg"); no-repeat; 350px 457px; 0 0);
    }

    &::after {
      width: 768px;
      height: 24px;

      .icon-element(url("../img/bg-zigzag-line.svg"); no-repeat; 768px 24px; center);
    }
  }

  .reviews__header {
    margin-left: -4px;

    .font(43px; 50px; bold);
  }

  .reviews__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 3;

    margin: 0;
    margin-bottom: 75px;
  }

  .reviews__text {
    margin-bottom: 58px;

    .font(17px; 30px; regular);
  }

  .reviews__author {
    display: flex;
    flex-direction: column;
    width: 334px;
  }

  .reviews__name {
    margin-bottom: 3px;

    .font(18px; 24px; bold);
  }

  .reviews__link-instagram {
    .link-reset();

    .font(17px; 30px; regular);
  }

  .reviews__nav {
    margin-bottom: 60px;
  }

  .reviews__button-send {
    width: 175px;
    margin: 0;
    margin-bottom: 28px;

    .font(17px; 20px; bold);
  }

  .reviews__button {
    width: 87px;
    padding-top: 7px;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    .size-desktop();
    padding-top: 70px;
    padding-left: 225px;

    background-position-x: 50px;

    &::after {
      left: 50px;

      width: 1050px;
      height: 33px;

      .icon-element(url("../img/bg-zigzag-line.svg"); no-repeat; 1050px 33px; center);
    }
  }

  .reviews__header {
    .font(53px; 57px; bold);
  }

  .reviews__text {
    width: 875px;
    padding-right: 100px;
    margin-bottom: 40px;

    white-space: pre-line;
  }

  .reviews__name {
    .font(17px; 24px; bold);
  }

  .reviews__button-send {
    margin-top: 10px;
  }

  .reviews__button {
    padding-top: 0;
  }

  .reviews__nav {
    margin-bottom: 113px;
  }

  .reviews__line {
    width: 1050px;
    height: 23px;
    margin-left: -175px;
  }
}
