.social {
  padding-top: 25px;
  padding-bottom: 24px;

  border-bottom: 2px solid #ececec;
}

.social__list {
  .list-reset();

  display: flex;
  justify-content: center;
  align-items: baseline;
}

.social__item {
  margin-left: 20px;
  margin-right: 21px;
  padding: 0;
}

.social__link {
  margin: 0;
  padding: 0;

  &:hover,
  &:focus {
    .social__icon-color {
      fill: @emerald;
    }
  }

  &:active {
    .social__icon-color {
      fill: @emerald;
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .social {
    flex-grow: 1;
    width: 222px;
    padding: 0;
    padding-right: 5px;

    border: none;
  }

  .social__item {
    margin-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .social__item {
    margin-top: 12px;
  }
}
