.size-mobile() {
  width: 320px;
  margin: 0 auto;
}

.nav-border() {
  border-bottom: 1px solid #ececec;
}

.font(@font-size; @line-height; @font-weight) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
}
