* {
  outline: 1px dashed lightgrey;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: @black;

  background-color: @white;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  width: 260px;
  padding-top: 14px;
  padding-bottom: 14px;

  .font(17px; 20px; bold);
  text-transform: uppercase;
  text-align: center;

  border: 2px solid @black;
  .link-reset;
}
